tmp/
bin/
obj/
*.sdf
*.suo
*.opensdf
*.user
*.nvuser
*.orig
.vscode
data/.lumix
data/lumix.log
data/studio.ini
.lumixuser
*.unv.bak
scripts/3rdparty
!scripts/bin/
plugins/
src/engine/plugins.inl
data/.shader_cache_dx11
scripts/itch_io/
!data/editor/scripts/plugins/
/data/universes/InvestigationAtFreddys/Golden Service/Menu.unv
/data/imgui.ini
/data/lumix.prj
/data/models/ybot/ybot.act
/data/models/Investigation At Freddys/Golden Service
/data/1 paredes by yinyanggio.png.meta
/data/checker marble tiles_albedo.jpg.meta
/data/checker marble tiles_normal.jpg.meta
/data/floor.fbx.meta
/data/floor.obj
/data/floor1.png.meta
/data/OfficeBase.fbx.meta
/data/OfficeBase_impostor0.tga.meta
